<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div>
        <header class="p-4 bg-success d-flex justify-content-between">
            <h1 class="p-2 bg-light rounded-lg shadow-lg border-right border-bottom">
                <a href="/" class="text-decoration-none text-info"> Tech Blog</a>
            </h1>
            <nav class="p-2 nav m-2">
                {{#if loggedIn}}
                <button class="p-1 mx-3 nav-item font-weight-bold btn btn-lg text-white rounded bg-info shadow-lg">
                    <a href="/dashboard" class="font-weight-bold text-white text-decoration-none">Dashboard</a>
                </button>
                <button id="logout"
                    class="p-1 mx-3 nav-item font-weight-bold btn btn-lg text-white rounded bg-info shadow-lg">Logout</button>
                {{else}}
                <button id="logout"
                    class="p-1 mx-3 nav-item font-weight-bold btn btn-lg text-white rounded bg-info shadow-lg">
                    <a href="/login" class="font-weight-bold text-white text-decoration-none">Login</a>
                </button>
                {{/if}}
            </nav>
        </header>
    </div>
    <main class="container-fluid min-vh-100">
        {{{ body }}}
    </main>
    <footer class="bg-success p-2 text-center text-white font-weight-bold">Hello! This is the bottom of the page!
    </footer>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>