<article class="p-3 m-1">
    <h5>
        <a href="/dashboard" class="text-info font">&larr; Back To Dashboard</a>
    </h5>
    <form id="edit-form" class="p-3 bg-success">
        <h4 class="text-white">Edit Post</h4>
        <div class="bg-light p-3 rounded">
            <div class="form-group">
                <label for="title-input">Title:</label>
                <input type="text" name="title-input" class="w-100 form-control-lg" value="{{post.title}}">
            </div>
            <div class="form-group">
                <label for="content-input">Blog Content:</label>
                <textarea name="content-input" class="w-100 form-control-lg" rows="7">{{post.contents}}</textarea>
            </div>
            <button type="submit" class="w-100 btn bg-primary font-weight-bold text-white">Save Post</button>
            <button type="button" id="dlt-btn" class="w-100 btn bg-danger font-weight-bold text-white">Delete
                Post</button>
        </div>
    </form>
</article>

{> comments post.comments }}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>