<div class="d-flex flex-column m-3 p-2">
    <form id="login-form" class="p-2 m-5 border bg-success">
        <h5 class="text-white font-weight-bold">Login</h5>
        <div class="p-3 bg-light">
            {{> form}}
            <button type="submit" class="p-2 btn bg-secondary font-weight-bold text-white w-100">Login!</button>
        </div>
        <div class="p-1">
            <a href="/signup" class="font-weight-bold text-white">Sign up instead</a>
        </div>
    </form>
</div>
<script src="/javascript/login.js"></script>